@use "sass:color"; // npm install -g sass

// 🎨 Color palette
// Bento colors
$bento-bg: #fffdf7;
$bento-primary: #fff2cc;
$bento-secondary: #ffd966;
$bento-text: #000000;

// Source colors
$primary-color: #f7e74d;
$primary-hover: color.scale($primary-color, $lightness: -20%, $space: hsl);
$secondary-color: #9ba0a8;
$text-color: #374151;
$background-color: white;
$light-yellow: #fdfce9;
$ivory: #fffff0;

// 🧱 Spacing
$base-padding: 1rem;
$base-margin: 1rem;
$hd-height: 720px;
$hd-width: 1280px;
$sd-height: 360px;
$sd-width: 640px;
$grid-min-col-size: 275px;

// 🔤 Typography
$font-stack: "Segoe UI", Roboto, sans-serif;
$font-mono: "Fira Code", monospace;
$font-primary: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  sans-serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$font-normal: normal;
$font-italic: italic;
