<section class="a4-page">
    <div class="left-column">
        <img class="picture" src="/images/PP-KiKi-LFL.png" alt="Profile picture">
        <div class="infos">
            <h3>Infos persos</h3>
            <ul>
                <li><svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <rect x="3" y="5" width="18" height="14" rx="2" />
                        <polyline points="3 7 12 13 21 7" />
                    </svg>
                    kilian.audroin&#64;gmail.com
                </li>
                <li><svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <circle cx="12" cy="11" r="3" />
                        <path
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 0 1 -2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z" />
                    </svg>
                    Nancy, 54000, France
                </li>
                <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                        <rect x="2" y="9" width="4" height="12" />
                        <circle cx="4" cy="4" r="2" />
                    </svg>
                    kilian-audroin
                </li>
                <li><svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <circle cx="7" cy="17" r="2" />
                        <circle cx="17" cy="17" r="2" />
                        <path d="M5 17h-2v-6l2-5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                    </svg>
                    A, B, Côtier
                </li>
                <li><svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="3.6" y1="9" x2="20.4" y2="9" />
                        <line x1="3.6" y1="15" x2="20.4" y2="15" />
                        <path d="M11.5 3a17 17 0 0 0 0 18" />
                        <path d="M12.5 3a17 17 0 0 1 0 18" />
                    </svg>
                    <a class="underline" href="https://kilian-au.fr/">https://kilian-au.fr/</a>
                </li>
            </ul>
        </div>
        <div class="langues">
            <h3>Langues</h3>
            <ul>
                <li>Français <i>Maternel</i></li>
                <li>Anglais <i>Bilingue</i></li>
            </ul>
        </div>
        <div class="savoir-etre">
            <h3>Savoir-être</h3>
            <p>Travail d'équipe, Autonomie, Versatile, Jovial, Curieux, Rigoureux.</p>
        </div>
        <div class="savoir-faire">
            <h3>Savoir faire</h3>
            <p>Gestion de projet, Gestion de groupe, PHP, Symfony, .NET, Angular, SQL, Full-stack.</p>
        </div>
        <div class="passion">
            <h3>Centres d'intérêt</h3>
            <p>Natation & Water Polo (+ de 10 ans), Plongée (Niveau 2), Gaming, Moto.</p>
        </div>
    </div>
    <div class="right-column">
        <div class="head">
            <h1>Kilian Audroin</h1>
            <h2>Développeur Web</h2>
        </div>
        <div>
            <div class="spacer-title">
                <h2>Expériences professionnelles</h2>
            </div>
            <div>
                <div class="exp-item">
                    <h4>Antibug Solutions</h4>
                    <h5>Développeur web</h5>
                    <h6>Mai 2025 - Juin 2025</h6>
                    <p>
                        Améliorations apportées au site Symfony, mise à jour et re-factorisation :
                    </p>
                    <ul>
                        <li>
                            <u>Optimisation de la page listant les interventions :</u>
                            Correction d'un problème de type N+1 requête SQL et passage au server-side processing.
                        </li>
                        <li>
                            <u>Ajout d'un classement mensuel des factures :</u>
                            Intégration d'un menu déroulant dynamique ainsi que d'une requête <b>SQL</b> adaptée.
                        </li>
                    </ul>
                </div>
                <div class="exp-item">
                    <h4>Freelance</h4>
                    <h5>Développeur web</h5>
                    <h6>2023 - Aujourd'hui</h6>
                    <p>
                        Reconversion professionnelle dans la création d'applications web interactives et dynamiques.
                        Voici quelques-uns des projets clés sur lesquels j'ai travaillé :
                    </p>
                    <ul>
                        <li><u>LoL cooldowns tracker :</u> Site permettant aux joueurs d'accéder rapidement à des
                            informations cruciales. Fait avec <b>Symfony 7</b> et SQLite.</li>
                        <li><u>Jeu de draft :</u> Outil qui simule une <i>draft</i>, jeu en tour par tour utilisant les
                            websockets, 100% <b>Typescript</b>.</li>
                        <li><u>Portfolio :</u> Mon site personnel pour présenter mon travail en tant que développeur.
                            Utilisant <b>.NET</b> et <b>Angular</b>.
                        </li>
                    </ul>
                </div>
                <div class="exp-item">
                    <h4>Solary</h4>
                    <h5>Gestion de projet / Coach</h5>
                    <h6>2022 - 2023</h6>
                    <p>
                        Gestion d'un projet d'encadrement d'une équipe professionnelle de jeu vidéo compétitrice dans la
                        ligue française sous la bannière Solary.
                    </p>
                </div>
                <div class="exp-item">
                    <h4>Groupe LDLC et Tony Parker Adequat Academy (TPAA)</h4>
                    <h5>Gestion de projet / Encadrant</h5>
                    <h6>2019 - 2022</h6>
                    <p>
                        Gestion d'un projet esport études ayant pour but d'accompagner des lycéens dans leur pratique
                        des jeux vidéos compétitifs au sein de la TPAA tout en poursuivant leur scolarité pour passer le
                        BAC. Ainsi que d'une équipe professionnelle en partenariat avec l'OL.
                    </p>
                </div>
            </div>
            <div class="spacer-title">
                <h2>Formations</h2>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <h4>DUT QLIO</h4>
                    <h5>Université Côte d'Azur</h5>
                    <h6>2014</h6>
                    <p>Diplômé de Qualité, Logistique industrielle et Organisation.</p>
                </div>
                <div class="grid-item">
                    <h4>Baccalauréat scientifique</h4>
                    <h5>Institution du Mont-Saint-Jean</h5>
                    <h6>2011</h6>
                    <p>Titulaire d'un bac S option maths. </p>
                </div>
            </div>

        </div>
    </div>
</section>