<section class="project-background">
    <app-default-button class="return-button" route="/" label="Back" backgroundColor="#DC143C"
        textColor='#fffff0'></app-default-button>
    <h2>Lolprodraft</h2>
    <p><span>
            Jeu tour par tour qui utilise les websockets pour simuler une 'draft', similaire à celle du jeu League of
            Legends.
        </span></p>
    <div class="spacer-horizontal"></div>
    <img class="demo" src="/Lolprodraft-1280x720.jpg">
    <div class="horizontal-container">
        <div class="description left">
            <p>
                Je n'ai pas inventé le concept de prodraft mais j'ai voulu le modernisé et le mettre à jour, il a une
                utilité pour les utilisateurs qui font des tournois amateurs.
                J'ai voulu essayer de créer un jeu, pour apprendre une nouvelle techno et un nouveau langage, en partant
                d'un univers que je connais bien et éviter de créer un énième jeu de morpion ou d'échec.
                <br><br>
                J'ai pris une approche mono-repo avec 3 sous dossiers : common, backend et frontend en utilisant
                <strong>Next
                    JS</strong> pour les vues. J'ai eu du mal au début avec les sockets en prod' mais avec un peu
                d'huile de
                coude j'ai réussi à le faire fonctionner comme je voulais.
            </p>
        </div>
        <div class="spacer-vertical"></div>
        <div class="description right">
            <p>
                <u>Technos :</u> Next JS , Socket io , Docker, Caddy, OVH.
            </p>
            <a href="https://lolprodraft.com/">lolprodraft.com/</a>
            <br>
            <a href="https://github.com/La-Kiks/prodraft-lol">Github repo</a>
        </div>
    </div>
</section>