<section class="project-background app-wrapper">
    <app-default-button class="return-button" route="/" label="Back" backgroundColor="#DC143C"
        textColor='#fffff0'></app-default-button>
    <h2>Antibug Solutions</h2>
    <p><span>Améliorations du site Symfony d'un client</span></p>
    <div class="spacer-horizontal"></div>
    <img class="demo" src="/images/Antibug-1280x720.jpg">
    <div class="horizontal-container">
        <div class="description left">
            <p>Mission réalisée en freelance sur Malt. Voici la liste des modifications apportées :</p>
            <ul>
                <li>
                    <u>Optimisation de la page listant les interventions :</u><br>
                    - Correction d'un problème de type N+1 requête SQL : passage <strong>de +6000 </strong>requêtes à
                    <strong>seulement 2.</strong><br>
                    - Passage du composant <strong>"DataTables"</strong> en <strong>"server-side processing"</strong> :
                    réduction de
                    la charge client <strong>de ~400Mo à ~4Mo</strong>, rendant la page fluide et rapide.<br>
                </li>
                <li>
                    <u>Ajout d'un classement mensuel des factures :</u> <br>
                    - Intégration d'un menu déroulant dynamique ainsi que d'une requête <strong>SQL</strong> adaptée.
                </li>
                <li><u>Mise à jour technique du framework :</u><br>
                    - Migration Symfony 5.3 vers <strong>Symfony 5.4</strong> avec résolution de bugs, nettoyage du code
                    et <strong>re-factorisation</strong> partielle pour améliorer la maintenabilité.
                </li>
            </ul>
        </div>
        <div class="spacer-vertical"></div>
        <div class="description right">
            <p class="no-margin">
                <u>Technos :</u> Symfony 5.4 , SQL , Hostinger.
            </p>

        </div>
    </div>
</section>