<section class="project-background app-wrapper">
    <app-default-button class="return-button" route="/" label="Back" backgroundColor="#DC143C"
        textColor='#fffff0'></app-default-button>
    <h2>A propos</h2>
    <p><span>De coach en esport à développeur web.</span></p>
    <img class="demo" src="/Paris-Stage-Wide.jpg">
    <div class="horizontal-container">
        <div class="description left">
            <p>
                Je m'appelle Kilian, un développeur web passionné, full-stack autodidacte. Depuis 2024, je me suis
                spécialisé dans la création d'applications web dynamiques en utilisant principalement les frameworks
                <strong>Symfony, Angular et .NET</strong>.
            </p>

            <p>
                Mon parcours dans le développement a commencé avec Python et s'est élargi pour inclure une expertise
                plus vaste, allant du PHP avec Symfony, en passant par l'intégration d'API, les applications en
                temps réel avec des web sockets et du TypeScript, jusqu'à des sites combinant .NET et Angular.
            </p>

            <p>
                J'aime résoudre des problèmes complexes grâce au code et améliorer continuellement mes compétences.
            </p>

            <p>
                Avant ma carrière dans le développement web, j'ai travaillé en tant qu'<strong>entraîneur
                    esports</strong>
                freelance
                de 2018 à 2023, principalement sur le jeu <em>League of Legends</em>. J'ai encadré des joueurs et
                des équipes pour plusieurs organisations renommées telles que <strong>TPAA </strong><em>(Tony Parker
                    Adéquat
                    Academy),</em>
                <strong> LDLC, OL </strong> <em>(Olympique Lyonnais)</em> et <strong>Solary.</strong>
            </p>

            <p>
                En 2022, mon équipe a remporté deux fois le titre français <em>(LFL)</em> et a décroché une deuxième
                place au
                tournoi européen <em>(EMEA)</em>.
            </p>

            <p>
                L'esport étant un milieu niche et intense émotionnellement, je n’envisageais pas d’y faire carrière
                toute ma vie. Durant ces années, j’avais déjà commencé à coder pour automatiser certaines tâches, et
                c’est donc naturellement que le métier de développeur s’est imposé à moi comme une suite logique.
            </p>

            <p>
                Je m'efforce aujourd’hui d’appliquer la même rigueur et le même sérieux que ceux requis dans mes
                anciennes fonctions à mon nouveau métier.
            </p>
        </div>
    </div>
    <button class="cv-btn" (click)="goToCurriculum()">Voir mon CV</button>
</section>