<section class="project-background app-wrapper">
    <app-default-button class="return-button" route="/" label="Back" backgroundColor="#DC143C"
        textColor='#fffff0'></app-default-button>
    <h2>Portfolio</h2>
    <p><span> Mon site vitrine, qui permet de présenter mes projets ainsi que de m'entrainer à coder.</span></p>
    <div class="spacer-horizontal"></div>
    <img class="demo" src="/images/Portfolio-1280x720.jpg">
    <div class="horizontal-container">
        <div class="description left">
            <p>
                Dans ma quête d'améliorer mon php j'ai voulu créer ce site, similaire à un blog. Le site a vocation à
                représenter mon travail de développeur en priorité mais il est voué à évoluer.
                Le but étant de me familiariser avec <strong>Symfony</strong>, je teste un maximum de fonctionnalités en
                backend
                même si
                je ne les utilise pas toutes.
                <br>
                <br>
                Par la suite j'ai refait le site sous <strong>Angular</strong> afin d'en apprendre plus sur ce framework
                et
                retravailler mes bases HTML/CSS/JS. Avec un backend .NET (en cours de création) pour créer une partie
                blog.
            </p>
        </div>
        <div class="spacer-vertical"></div>
        <div class="description right">
            <p class="">
                <u>Technos :</u> Angular, .NET, Symfony 7 (Pour la v1 du site).
            </p>
            <a href="https://kilian-au.fr">https://kilian-au.fr</a>
            <br>
            <a href="https://github.com/La-Kiks/my-angular-webapp">Github repo</a>
        </div>
    </div>
</section>