<section class="project-background app-wrapper">
    <app-default-button class="return-button" route="/" label="Back" backgroundColor="#DC143C"
        textColor='#fffff0'></app-default-button>
    <h2>Cooldowns</h2>
    <p><span>Site pour les joueurs de League of legends, qui permet de trouver les informations des 'cooldowns',
            rapidement, avec mise à jour automatique via API.</span></p>
    <div class="spacer-horizontal"></div>
    <img class="demo" src="/Lolcooldowns-1280x720.jpg">
    <div class="horizontal-container">
        <div class="description left">
            <p>
                Lors de mon expérience en esport sur LoL, j'avais cerné ce besoin d'avoir accès aux cooldowns des
                champions du jeu pour affiner ses choix stratégiques. J'avais créé une version Google Sheet d'un
                tableau, mais il n'était pas pratique à garder à jour, à devoir l'éditer manuellement toutes les 2
                semaines en fonction des patchs.
            </p>
            <p>
                Pour me lancer dans le code et le dév, c'est naturellement que j'ai voulu me lancer dans la construction
                d'un site qui serait un tableau dynamique avec un lien à l'API de RIOT GAMES pour faciliter les mises à
                jour. Ce site a connu un petit succès à son lancement (via Reddit et Twitter) avec environ 30 000
                utilisateurs mensuels .

            </p>
            <p>
                J'ai pu utilisé <strong>l'Asset Mapper, Stimulus, Mutation Observer </strong> pour gérer différents
                aspects du
                site comme
                la double recherche nom + calcul, l'ajout dynamique d'éléments au DOM, l'auto-complete pour la
                recherche.
            </p>
        </div>
        <div class="spacer-vertical"></div>
        <div class="description right">
            <p>
                <u>Technos :</u> Symfony 7 , SQLite , Bootstrap, Docker, Caddy, OVH.
            </p>
            <a href="https://lolcooldowns.com/">lolcooldowns.com/</a>
            <br>
            <a href="https://github.com/La-Kiks/lolcooldowns">Github repo</a>
        </div>
    </div>
</section>