<section>
    <div class="grid-container">
        <div class="box header" style="grid-area: header;">
            <div>
                <em>KILIAN</em> <strong>AUDROIN</strong>
            </div>
            <div>
                <button (click)="goToPropos()">&Agrave; PROPOS</button>
            </div>
        </div>

        <div class="box catchphrase" style="grid-area: catchphrase;">
            <img src="/images/Flower.png" alt="flower icon">
            <div>
                <strong>Web developper</strong> & <em>freelance</em>
            </div>
        </div>

        <div class="box" style="grid-area: picture;">
            <img class="picture" src="/images/profile-pic-ki.jpg" alt="A profile picture">
        </div>

        <div class="box projects" style="grid-area: projects;">
            <div class="project-container" *ngFor="let project of projects; let i = index"
                [class.active]="isProjectActive(i)">
                <h2 style="grid-area: title;" (click)="selectProject(i)" [class.clickable]="true">
                    {{ project.title }}
                </h2>
                <a style="grid-area: arrow;" [style.visibility]="isProjectActive(i) ? 'visible' : 'hidden'"
                    [href]="project.url" target="_blank" rel="noopener noreferrer">
                    <img [src]="project.arrow" alt="arrow icon">
                </a>
                <img style="grid-area: image;" [src]="project.image" [alt]="'image of ' + project.title"
                    [style.display]="isProjectActive(i) ? 'block' : 'none'">
            </div>
        </div>

        <div class="box details" style="grid-area: details;">
            <img src="/images/circle-icon.png" alt="circle icon">
            <div>
                J'accompagne les projets web en tant que développeur full stack, soit sur une stack
                <strong>Symfony/PHP</strong>, soit sur une stack <strong>.NET/Angular.</strong> Porté par la curiosité
                et la
                qualité, je m'engage à livrer un code fiable et évolutif.
            </div>
        </div>

        <div (click)="openModal()" class="box contact" style="grid-area: contact;">
            <div>
                <p>Have some questions ?</p>
                <img src="/images/Arrow.png" alt="arrow icon">
            </div>
            <p>Me contacter</p>
        </div>


        <div class="box socials" style="grid-area: socials;">
            <a href="https://linkedin.com/in/kilian-audroin/" target="_blank" rel="noopener noreferrer">
                LINKEDIN
            </a>
            <a href="https://github.com/La-Kiks" target="_blank" rel="noopener noreferrer">
                GITHUB
            </a>
            <a href="https://x.com/Kiki_coaching" target="_blank" rel="noopener noreferrer">
                X
            </a>
        </div>
    </div>
    <app-contact-modal [visible]="showModal" (closed)="handleClose()" [email]="'kilian.audroin@gmail.com'"
        [discord]="'kiki_was_here'">
    </app-contact-modal>
</section>