@use "variables" as *;

section {
  background-color: $bento-bg;
  display: flex;
  justify-content: center;
  padding: 2%;
  min-height: 96dvh;
  min-width: 90%;
}

.grid-container {
  font-size: 1.5rem;
  min-width: 100%;
  display: grid;
  font-family: $font-primary;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 4fr 2fr 2fr;
  gap: 2rem;
  grid-template-areas:
    "header header header header header"
    "catchphrase catchphrase catchphrase picture projects"
    "details details contact contact projects"
    "details details socials socials projects";
}

.box {
  background-color: $bento-primary;
  border-radius: 20px;
}

.contact {
  background-color: $bento-secondary;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
